<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
</head>
<body>
    <header class="page-header">
        <a href="/" class="page-header__logo" title="Go home">
            <img src="/assets/avatar.svg" alt="" width="48">
        </a>

        <nav>
            <a href="/">It's Our Home</a>
        </nav>
    </header>
    <main>
        {{content}}
    </main>
    
    <footer class="page-footer">
        <small>We are all on this page, like it or not</small>
    </footer>
</body>
</html>
